sprites/images/*
background/images/*
fonts/*.png
Configs/*
!Configs/Default.config.gmx
scripts/pal_swap_*
*.ogg
*.wav
*.shader
\#backups
help.rtf
datafiles/lang/*
datafiles/mods/*
datafiles/modifiers.ini
exports
extensions
AM2R.exe
data.win
